<html>
<head>
</head>
<body>
<h1>Welcome!</h1>
<h3>Are you a staff member or a customer?</h3>
<style>
	.center {
	  display: block;
	  margin-right: auto;
	  margin-left: auto;
	}
</style>

<form action="/customerlogin" >
    <button class="center" type="submit">Customer</button>
</form>
<form action="/stafflogin" >
    <button class="center" type="submit">Staff</button>
</form>
<form>
  <input class="center" type="button" value="Return to Home Page" onclick="history.back()">
</form>

</body>

</html>
