<html>
<head>
</head>
<body>

<h1>Welcome {{name['first_name']}} {{name['last_name']}}!</h1>

<a href="/viewflights"><p>View Flights</p></a>
<a href="/createflights"><p>Create New Flights</p></a>
<a href="/changestatus"><p>Change Status of Flights</p></a>
<a href="/addairplane"><p>Add Airplane</p></a>
<a href="/addairport"><p>Add Airport</p></a>
<a href="/viewratings"><p>View Flight Ratings</p></a>
<a href="/viewfrequent"><p>View Frequent Customers</p></a>
<a href="/viewreports"><p>View Reports</p></a>
<a href="/viewrevenue"><p>View Earned Revenue</p></a>
<a href="/viewtopdestinations"><p>View Top Destinations</p></a>
<a href="/logout"><p>Logout</p></a>

</body>


</html>
